<header class="container">
    <div class="row text-center">
        <ul class="list-unstyled d-flex gap-3 fs-2 justify-content-between">
            <li><a class="text-decoration-none text-secondary" href="/">Home</a></li>
            <li><a class="text-decoration-none text-secondary" href="/inscriptions">Signup</a></li>
            <li><a class="text-decoration-none text-secondary" href="/connection">Login</a></li>
        </ul>
    </div>
</header>